<script>
  window.coordinates = {{{ coordinates }}}
</script>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><span class="fontPacific">{{store.storename}}</span></h1>
      <p class="lead">{{store.direction1}}, {{store.city}}, {{store.zip}}</p>
    </div>
  </div>

<div class="container">
  <p>{{store.description}}</p>
  <div id="map"></div>

</div>