<script>
  window.coordinates = {{{coordinates}}}
</script>
<h2>{{store.storename}}</h2>
<h5>{{store.direction1}}, {{store.direction2}} 
  </br>
  {{store.city}}, {{store.zip}}</h5>
  </br>
<p>{{store.description}}</p>
<div id="map"></div>