<div class="jumbotron jumbotron-fluid">
  <div id="postJumbo" class="container">
    <h1 class="display-4">The <span class="fontPacific">latest</span> from the <span class="fontPacific">Tipplers</span></h1>
    <p class="lead">The latest updates from all of you...</p>
  <a id="postImage" href="/social/postImage">Post a Wine!</a>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-around">

{{#each posts}}

<form >
<input type="hidden" name="wineID" value="{{_id}}">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{picPath}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Uploaded by: <strong>{{username}}</strong></p>
    <h5 class="card-title">{{wineName}}</h5>
    <p class="card-text">Score: {{score}}/10</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Region: {{region}}</li>
    <li class="list-group-item">Vintage: {{vintage}}</li>
  </ul>
  <div>
    {{#if isWished}}
      {{!-- <form class="removeWish" action="/profile/{{wine._id}}/removeWish" method="POST">
      <button class="btn removeButton" type="submit" >remove</button>
      </form> --}}
    {{else}}
    <form class="removeWish" action="/social/wishlist" method="POST">
      <button class="btn addButton wine" type="submit" >add to wishlist</button>
    </form>
    {{/if}}
  </div>
  </form>
</div>

{{/each}}

</div>