<h1>These are the wines</h1>

{{#each wines}}
<form action="/social/wishlist" method="POST">
<input type="hidden" name="wineID" value="{{_id}}">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{imgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{wineName}}</h5>
    <p class="card-text">User comments</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Region: {{region}}</li>
    <li class="list-group-item">Vintage: {{vintage}}</li>
    <li class="list-group-item">Color: {{color}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <button type="submit" class="btn btn-primary">Add to wishlist</button>
  </div>
  </form>
</div>

{{/each}}
